#contact-form{
	display: flex;
	flex-direction: column;
		max-width: var(--max-width);
		margin-left: auto;
		margin-right: auto;		
		padding: 0 1.5rem;	
}

form label{
	display: block;
}

form input[type="text"],
form input[type="email"],
form textarea{
	width: 100%;
	font-size: 1.1rem;
	padding: 0.5rem;
}
form input[type="submit"]{
	font-size: 1.1rem;
	padding: 0.5rem;
	min-width: 10rem;
	border-radius: 20px;
	border: 0;
	background: deepskyblue;
	background: linear-gradient(to right, #ccddee, #8de5fa, deepskyblue)
}

@media (min-width: 768px){
	#contact-form{
		flex-direction: row;
		justify-content: space-between;
	}
	.contact-data, .message-data{
		flex-shrink: 1;
		flex-grow: 0;
		flex-basis: 45%;
	}
}