.footer{
	background-color: var(--dark-color);
	color: aliceblue;
	padding: 1rem;
	display: flex;
	flex-direction: column-reverse;
}
.footer a{
	color: aliceblue;
	text-decoration: none;
}

.footer .social,
.footer .links{
	margin: 1rem 0;
	text-align: center;
}

.links-list,
.social-list{
	all: unset; /* elimina TODOS los estilos */
	list-style: none;
	display: flex;
	justify-content: center;
}
.links-list{
	flex-direction: column;
}
.links-list li{
	text-align: center;
}

@media (min-width: 768px){
	.footer{
		flex-direction: row;
		justify-content: space-between;
	}
	.footer .links{
		text-align: left;
	}
	.links-list{
		margin-top: .5rem;
		list-style: circle;
	}
	.links-list li{
		margin-left: 2rem;
		text-align: left;
	}

	.social i:before{
		font-size: 2rem;
	}
	.social a:hover{
		color: aqua;
	}

}