.navbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--navbar-height);
	background-color: white;

}

.navbar .logo{
	font-family: juego-tronos, 'Times New Roman', Times, serif;
	text-align: center;
	line-height: var(--navbar-height);
}

.navbar .burger-label{
	width: var(--navbar-height);
	height: var(--navbar-height);
	position: absolute;
	top: 0;
	left: 0;
	font-size: 45px;
}

.navbar .burger-label:before{
	content: '';
	background-color: darkgrey;
	width: 1em;
	height: 0.15em;
	position: absolute;
	left: 0.1em;
	top: 0.25em;
	box-shadow: 0 0.25em 0 0 darkgrey,
				0 0.5em 0 0 darkgrey;
}
/* menú cerrado */
.navbar-list{
	display: none;
	list-style: none;
	margin: 0;
}


#burger-checkbox{
	display: none;
}

 /* menú abierto */
#burger-checkbox:checked ~ .navbar-list{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: var(--dark-color);
	opacity: 0.85;
	padding: 0;
	height: calc(100vh - var(--navbar-height));

}
.navbar-item > a{
	text-decoration: none;
	color: azure;
	line-height: 3rem;
	display: block;
	text-align: center;
	font-size: 2rem;
}

@media all and (min-width: 768px){
	.navbar{
		display: flex;
		justify-items: space-between;
	}
	
	.navbar .logo{
		margin: 0 1rem;
	}

	.navbar .burger-label{
		display: none;
	}
	.navbar-list{
		display: flex;
		flex-grow: 1;	
		justify-content: flex-end;
		flex-direction: row;
		background-color: white;
		height: var(--navbar-height);
	}
	.navbar-item > a{
		line-height: var(--navbar-height);
		padding: 0 1rem;
		font-size: inherit;
		color: var(--dark-color);
		transition: background .5s ease-in-out,
					color .5s ease-in-out;
	}
	.navbar-item > a:hover{
		background-color: var(--dark-color);
		color: azure;
	}

}