.two-columns{
	display: flex;
	flex-direction: column-reverse;
}

.skills{
	text-align: center;
}
.skill-name{
	text-align: right;
	margin-top: 1rem;
}
.skillbar-outer{
	border: 1px solid lightblue;
	height: 20px;
	/* El alto interior son 20px menos 1px por arriba y uno por abajo del borde.
	   Al meterle un padding de 2px, nos va a quedar la barra de dentro de 14px de alto*/
	padding: 2px;
	border-radius: 10px;
	margin: .25rem 0 1rem 0;
}

.skillbar-inner{
	height: 14px;
	background-color: lightcoral;
	border-radius: 7px;
	width: 0;
}
.skill-75{
	width: 75%
}
.skill-85{
	width: 85%;
}
.skill-95{
	width: 95%
}

